RewriteEngine on
RewriteRule ^$ inicio
RewriteRule ^index\.html$ index.php
RewriteRule ^([a-zA-Z_-]*)$ index.php?action=$1 [L,QSA]
RewriteRule ^([a-zA-Z_-]*)/([0-9]+)$ index.php?action=$1&id=$2 [L,QSA]